In [3]:
import csv
import configparser
import pyodbc
import pandas as pd

### Read the Tables and Columns - SQL Server spreadsheet

Iterates through the Tables and Columns-SQL Server spreadsheet and create a dictionary whose keys are the table names and values are tuples of column, datatype and alter sql.
i.e
* **Key:** Table Name
* **Value:** [(Column Name, DATA_TYPE, Alter SQL)]

In [5]:
# Read csv file
with open('Tables and Columns - SQL Server.csv', 'r') as f:
    csvreader = csv.reader(f, delimiter=',')
    next(csvreader) #Skip first row
    
    dict = {}
    
    # Iterate through csv file and append keys and values into the dictionary
    for line in csvreader:
        key = line[1]
        value1 = line[2]
        value2 = line[5]
        value3 = line[6]
        
        if key in dict:
            dict[key].append((value1, value2, value3))
        else:
            dict[key]= [(value1, value2, value3)]
            
#print(dict)

### Creates a list of Create table queries for all tables

In [11]:
create_table_queries = []

# Iterate through the dictionary
for key, value in dict.items():
    query = """Create table if not exists [{}](""".format(key.replace(".", "].["))
    for column_name, data_type, alter_sql in value:
        query2 ="""{}  {}, """.format(column_name, data_type)
        query += query2
    query += ")"
    query = query.replace(", )", ");")
    #print(query)
    create_table_queries.append(query)
    
#print(create_table_queries)

### Creates a list of Alter SQL queries for all tables

In [13]:
alter_table_queries = []

# Iterate through the dictionary
for key, value in dict.items():
    for column_name, data_type, alter_sql in value:
        query ="""{}""".format(alter_sql)
        alter_table_queries.append(query)
    
#print(alter_table_queries)

### Connect to database

In [12]:
# Read 'db.cfg' files
config = configparser.ConfigParser()
config.read('db.cfg')

server = config.get("PARAM", "server")
database = config.get("PARAM", "database")
username = config.get("PARAM", "username")
password = config.get("PARAM", "password")

try:
    cnxn = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password)
    cursor = cnxn.cursor()
    cnxn.set_session(autocommit=True)
except Exception as e:
    print(e)

# Some other example server values are
# server = 'localhost\sqlexpress' # for a named instance
# server = 'myserver,port' # to specify an alternate port

('08001', '[08001] [Microsoft][ODBC Driver 17 for SQL Server]Named Pipes Provider: Could not open a connection to SQL Server [53].  (53) (SQLDriverConnect); [08001] [Microsoft][ODBC Driver 17 for SQL Server]Login timeout expired (0); [08001] [Microsoft][ODBC Driver 17 for SQL Server]A network-related or instance-specific error has occurred while establishing a connection to SQL Server. Server is not found or not accessible. Check if instance name is correct and if SQL Server is configured to allow remote connections. For more information see SQL Server Books Online. (53)')

### Execute all create table queries

In [13]:
for query in create_table_queries:
    #print(query)
    try:
        cursor.execute(query)
        cnxn.commit()
    except Exception as e:
        print(e)

name 'cursor' is not defined
name 'cursor' is not defined
name 'cursor' is not defined
name 'cursor' is not defined
name 'cursor' is not defined
name 'cursor' is not defined

### Execute all alter table queries

In [ ]:
for query in alter_table_queries:
    #print(query)
    try:
        cursor.execute(query)
        cursor.commit()
    except Exception as e:
        print(e)

### SQL queries to create tables for pension database

In [ ]:
DCPlanData_table = """CREATE TABLE IF NOT EXISTS [pension].[DCPlanData](
actives                 nvarchar,
assets                  nvarchar,
cashbalance             nvarchar,
conts_ee                nvarchar,
conts_er                nvarchar,
coveredpayroll          nvarchar,
dcplanid                nvarchar,
ee_contrate_mandatory   nvarchar,
ee_contrate_max         nvarchar,
ee_contrate_verbatim    nvarchar,
eligible_eegroups       nvarchar,
eq_avg                  nvarchar,
er_contrate_fixedrate   nvarchar,
er_contrate_matchrate   nvarchar,
er_contrate_verbatim    nvarchar,
fy                      nvarchar,
hybrid                  nvarchar,
inactives               nvarchar,
investmentoptions       nvarchar,
mandatory_default       nvarchar,
members                 nvarchar,
planname                nvarchar,
planname_db             nvarchar,
ppd_id                  nvarchar,
primary                 nvarchar,
state                   nvarchar,
year_est                nvarchar
)"""

ActuarialCosts_table = """CREATE TABLE IF NOT EXISTS [pension].[ActuarialCosts](
ActValDate_ActuarialCosts  nvarchar,
ContributionFY             nvarchar,
EEGroupID                  nvarchar,
fy                         nvarchar,
NormCostAmount_EE          nvarchar,
NormCostAmount_ER          nvarchar,
NormCostAmount_tot         nvarchar,
NormCostRate_EE            nvarchar,
NormCostRate_EE_est        nvarchar,
NormCostRate_ER            nvarchar,
NormCostRate_ER_est        nvarchar,
NormCostRate_tot           nvarchar,
NormCostRate_tot_est       nvarchar,
notes_ActCosts             nvarchar,
PlanName                   nvarchar,
ppd_id                     nvarchar,
ProjectedPayroll           nvarchar,
ReqContAmount_ER           nvarchar,
ReqContAmount_tot          nvarchar,
ReqContRate_ER             nvarchar,
ReqContRate_ER_est         nvarchar,
ReqContRate_tot            nvarchar,
source_ActCosts            nvarchar,
TierID                     nvarchar,
UAALRate                   nvarchar
)"""

# List of create table queries
create_table_queries2 = [DCPlanData_table, ActuarialCosts_table]

### Execute all create table queries

In [ ]:
for query in create_table_queries2:
    #print(query)
    try:
        cursor.execute(query)
        cursor.commit()
    except Exception as e:
        print(e)

### SQL queries to drop tables for pension database

In [ ]:
DCPlanData_table_drop = """DROP TABLE IF EXISTS [pension].[DCPlanData]"""
ActuarialCosts_table_drop = """DROP TABLE IF EXISTS [pension].[ActuarialCosts]"""
RetirementSystemBasics_table_drop = """DROP TABLE IF EXISTS [pension].[RetirementSystemBasics]"""
PensionTopStocksTopBonds_table_drop = """DROP TABLE IF EXISTS [pension].[PensionTopStocksTopBonds]"""
PensionInvestmentFees_table_drop = """DROP TABLE IF EXISTS [pension].[PensionInvestmentFees]"""
PensionInterestRateRisk_table_drop = """DROP TABLE IF EXISTS [pension].[PensionInterestRateRisk]"""
PensionCreditRating_table_drop = """DROP TABLE IF EXISTS [pension].[PensionCreditRating]"""
PPDDataLatest_table_drop = """DROP TABLE IF EXISTS [pension].[PPDDataLatest]"""
PFPlan_PPDSupplement_table_drop = """DROP TABLE IF EXISTS [pension].[PFPlan_PPDSupplement]"""
RetirementSystemData_table_drop = """DROP TABLE IF EXISTS [pension].[RetirementSystemData]"""
PensionInvestmentPerformanceDetailed_table_drop = """DROP TABLE IF EXISTS [pension].[PensionInvestmentPerformanceDetailed]"""
StateLocalDisability_PPD_table_drop = """DROP TABLE IF EXISTS [pension].[StateLocalDisability_PPD]"""

# List of drop table queries
drop_table_queries = [DCPlanData_table_drop, ActuarialCosts_table_drop, RetirementSystemBasics_table_drop, PensionTopStocksTopBonds_table_drop, PensionInvestmentFees_table_drop, PensionInterestRateRisk_table_drop, PensionCreditRating_table_drop, PPDDataLatest_table_drop, PFPlan_PPDSupplement_table_drop, RetirementSystemData, PensionInvestmentPerformanceDetailed, StateLocalDisability_PPD]

### Execute all drop table queries

In [ ]:
for query in drop_table_queries:
    #print(query)
    try:
        cursor.execute(query)
        cursor.commit()
    except Exception as e:
        print(e)